        .author {font-weight: bold; margin: 0.5em}
        .timestamp {font-style: italic; margin: 0.5em}
        li:nth-child(even){background-color:white}
        li:nth-child(odd){background-color:\#eee}

        /* #status {display: none; border: 1px black solid; padding: 1ex;} */

        /* .connected {background-color: lime;} */


